@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="css/chat.css">

<div class="row">
    <div class="col-md-2">
        <h3>Conversations</h3>

        <button type="button" class="btn btn-sm btn-primary" name="new-conversation">
            New Conversation
        </button>

        <ul class="list-group mt-1 w-75" id="conversations-list"></ul>
    </div>
    <div class="col-md-8">
        <h1 id="title">JustAnAiAgent</h1>

        <ul class="list-unstyled" id="messages-box"></ul>

        <div class="input-group input-group-sm">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="model-select-button" data-bs-toggle="dropdown" aria-expanded="false">Select model</button>
            <ul class="dropdown-menu" id="model-select"></ul>

            <textarea class="form-control" rows="5" id="message-input" placeholder="Send a message..."></textarea>

            <button type="button" class="btn btn-sm btn-success" id="send-message-button">
                Send
            </button>

            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>

            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#">Send chat</a></li>
                <li><a class="dropdown-item" href="#">Send to agent</a></li>
                <li><a class="dropdown-item" href="#">Send with file</a></li>
            </ul>
        </div>

        <div class="input-group input-group-sm" id="message-send-info-box">
            <span class="input-group-text" id="selected-model">No model selected</span>
            <input class="form-control disabled" disabled />
            <span class="input-group-text text-end" id="current-action-span">Idle.</span>
            <span class="input-group-text">Sending to chat</span>
        </div>
    </div>
    <div class="col-md-2">
        <h3>Projects</h3>

        <ul class="list-group" id="projects-list"></ul>
    </div>
</div>

<script src="/js/chat.js"></script>

<script>

    // const chatDisplay = document.getElementById('chat-display');
    // const messageInput = document.getElementById('message-input');

    // Handle Enter key press
    // messageInput.addEventListener('keydown', (event) => {
    //     if (event.key === 'Enter') {
    //         sendMessage();
    //     }
    // });

    // async function sendMessage() {
    //     let message = messageInput.value.trim();

    //     if (!message) 
    //         return;

    //     addMessage("You", message);

    //     disableChatInput();
    //     let response = await sendMessageToServer(message);
    //     enableChatInput();
    //     clearChatInput();

    //     addMessage("AI", response.reply, response.thought);
    // }

    // async function sendMessageToServer(message) {
    //     let response = await fetch('api/chat', {
    //         method: 'POST',
    //         headers: {
    //             'Content-Type': 'application/json',
    //         },
    //         body: JSON.stringify(message)
    //     });

    //     if (!response.ok)
    //         throw new Error('Network response was not ok');

    //     return await response.json();
    // }

    // function addMessage(user, message, thought) {
    //     var time = new Date().toTimeString().split(' ')[0];

    //     var msg = document.createElement("div");
    //     msg.classList.add("message");
    //     msg.classList.add(user == "AI" ? user : "user");

    //     if(thought && thought.length > 0) {
    //         msg.innerHTML  =`
    //             <label>${user}:</label>
    //             <div class="content">
    //                 <div class="thought">Thought:\n${thought}</div>
    //                 <div class="reply">${message}</div>
    //             </div>`;
    //     }
    //     else {
    //         msg.innerHTML  =`
    //             <label>${user}:</label>
    //             <div class="content">
    //                 <div class="reply noThought">${message}</div>
    //             </div>`;
    //     }

    //     chatDisplay.appendChild(msg);
    //     chatDisplay.scrollTop = chatDisplay.scrollHeight;
    // }

    // function clearChatInput() {
    //     messageInput.value = '';
    // }

    // function disableChatInput() {
    //     messageInput.disabled = true;
    // }

    // function enableChatInput() {
    //     messageInput.disabled = false;
    // }
</script>